* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

body {
    background-image: url("../images/pink_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    background: linear-gradient(to right, rgb(76, 76, 213), rgb(236, 185, 89));
    text-transform: capitalize;
    margin-bottom: 25px;
    opacity: 0.7;
}

.messages ul {
    list-style-type: none;
    display: inline-block;
}

.messages ul li {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
}

.messages ul li::before {
    content: "🚩";
}

.require {
    color: red;
}

form {
    width: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 3px;
}

form .main-labels {
    display: grid;
    grid-template-columns: 30% 70%;
    row-gap: 20px;
}

form .otp {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 10px 0;
}

form .otp button {
    cursor: pointer;
    border-radius: 20px;
    width: 20%;
    border-width: 0;
}

form .otp a {
    text-decoration: none;
    text-align: center;
    width: 20%;
    cursor: pointer;
    color: black;
    background-color: rgba(189, 97, 97, 0.8);
}

form .main-labels input {
    border-width: 0;
    border-radius: 20px;
    text-indent: 10px;
}

form .main-labels input:focus {
    outline-color: rgb(0, 255, 170);
    outline-width: 2px;
    outline-offset: 2px;
    outline-style: double;
}

#verify {
    display: block;
    cursor: pointer;
    border-radius: 10px;
    border-width: 0;
    width: 40%;
    margin: 20px auto 10px auto;
}

.password-labels img {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15%;
    right: 1%;
}

#updateDB {
    display: block;
    cursor: pointer;
    width: 50%;
    border-radius: 10px;
    border-width: 0;
}

@media screen and (max-width:700px) {
    form {
        width: 95%;
        top: 50%;
    }

    form .main-labels {
        grid-template-columns: 100%;
    }

    form .otp button,
    #resend-otp {
        width: 30%;
    }

    #updateDB {
        margin: 0 auto;
    }

}

@media screen and (max-width:1000px) {
    form {
        width: 75%;
    }

}