{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
</head>

<body>
    <h1>Reset password</h1>
    {% if not otp_sent %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="messages">
            <ul>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags != 'success' %}
                <li style="color: rgba(255, 255, 0, 0.8)">{{message}}</li>
                {% else %}
                <li style="color: rgba(0, 255, 0, 0.8);">{{message}}</li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="main-labels">
            <label for="user-name-or-email">Enter username <span class="require">*</span></label>
            <input type="text" name="user-name-or-email" id="user-name-or-email" placeholder="Enter username or Email"
                required>
        </div>
        <div class="otp">
            <div></div>
            <input type="hidden" name="form-type" value="send-otp">
            <button type="submit" id="send-otp">Send OTP</button>
        </div>
    </form>
    {% endif %}

    {% if otp_sent and not is_valid %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="messages">
            <ul>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags != 'success' %}
                <li style="color: rgba(255, 255, 0, 0.8)">{{message}}</li>
                {% else %}
                <li style="color: rgba(0, 255, 0, 0.8);">{{message}}</li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="main-labels">
            <label for="user-name-or-email">Enter username <span class="require">*</span></label>
            <input type="text" name="user-name-or-email" id="user-name-or-email" placeholder="Enter username or Email"
                required value="{{user_name_or_email}}" readonly>
        </div>
        <div class="otp">
            <div></div>
            <input type="hidden" name="form-type" value="resend-otp">
            <a href="{% url 'send_otp' user_name_or_email %}" id="resend-otp">Resend OTP</a>
        </div>
        <div class="main-labels">
            <label for="otp-value">OTP <span class="require">*</span></label>
            <input type="text" name="otp-value" id="otp-value" required placeholder="Enter OTP">
        </div>
        <input type="hidden" name="form-type" value="verify">
        <button type="submit" id="verify">Verify</button>
    </form>
    {% endif %}

    {% if is_valid %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="messages">
            <ul>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags != 'success' %}
                <li style="color: rgba(255, 255, 0, 0.8)">{{message}}</li>
                {% else %}
                <li style="color: rgba(0, 255, 0, 0.8);">{{message}}</li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="main-labels">
            <label for="password">Password <span class="require">*</span></label>
            <div class="password-labels" style="position: relative;">
                <input type="password" name="password1" id="password" style="width: 100%;" autocomplete="new-password"
                    required placeholder="Enter password">
                <img src="{% static 'images/icons8-invisible-48.png' %}" alt="" id="eye-1" class="eye-close"
                    onclick="onEyeClick(this)" data-close-eye="{% static 'images/icons8-invisible-48.png' %}"
                    data-open-eye="{% static '/images/icons8-eye-50.png' %}">
            </div>
            <label for="confirm-password">Confirm Password <span class="require">*</span></label>
            <div class="password-labels" style="position: relative;">
                <input type="password" name="password2" id="confirm-password" style="width: 100%;" required
                    placeholder="Reenter password">
                <img src="{% static 'images/icons8-invisible-48.png' %}" alt="" id="eye-2" class="eye-close"
                    onclick="onEyeClick(this)" data-close-eye="{% static 'images/icons8-invisible-48.png' %}"
                    data-open-eye="{% static '/images/icons8-eye-50.png' %}">
            </div>
            <input type="hidden" name="form-type" value="update-password">
            <div></div>
            <button type="submit" id="updateDB">Update Password</button>
        </div>

    </form>
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/main_forgot_password.css' %}">
    <script src="{% static 'js/main_forgot_password.js' %}"></script>
</body>

</html>